<?xml version="1.0"?>
<!--
* Dynamic Dreamz
* @category   DD
* @package    DD_Deleteorder
* @copyright  Copyright (c) 2014-2015 Dynamic Dreamz. (http://www.dynamicdreamz.com/)
* @license    http://opensource.org/licenses/osl-3.0.php Open Software License (OSL)
-->
<config>
    <tabs>
        <dd_deleteorder translate="label" module="deleteorder">
            <label>DD_DeleteOrder</label>
            <sort_order>0</sort_order>
        </dd_deleteorder>
    </tabs>
    <sections>
        <deleteordersettings  translate="label" module="deleteorder">                    
            <label>Delete Order Settings</label>
            <tab>dd_deleteorder</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>            
            <groups>
                <general translate="label"> 
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <!-- for fields look in observer -->
                    </fields>
                </general>
            </groups>
        </deleteordersettings>
    </sections>
</config>
